@media all and (min-width: 860px) {
  .header {
    order: 1;
  }
  .aside-1 {
    order: 2;
  }
  .main {
    order: 3;
  }
  .aside-2 {
    order: 4;
  }
  .footer {
    order: 5;
  }
}
@media all and (min-width: 860px) {
  .main,
  .aside-1,
  .aside-2,
  .lf-col {
    flex-grow: 1;
    flex-basis: 0;
  }
  .aside-1,
  .aside-2 {
    max-width: 120px;
  }
  .nav-bar > ul > li:nth-child(2-6) {
    display: none;
  }
  .main-about {
    display: grid;
    grid-template-columns: 20% auto;
  }
  .main-service-dp {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}
@media all and (max-width: 860px) {
  .nav-bar > ul > li:nth-child(2),
  .nav-bar > ul > li:nth-child(3),
  .nav-bar > ul > li:nth-child(4),
  .nav-bar > ul > li:nth-child(5),
  .nav-bar > ul > li:nth-child(6) {
    display: none;
  }
  .nav-bar > ul > li:nth-child(1) {
    font-size: 2rem;
  }
  .header-tipo {
    margin-left: 0;
  }
  .header-tipo > h1,
  .header-tipo > p,
  .header-bt {
    text-align: center;
  }
  .main-board-dp:hover {
    transform: scale(1);
    z-index: 1;
  }
  .main-app-img {
    display: none;
  }
  .main-app-dwld {
    margin-top: 0px;
  }
}
@media all and (max-width: 1245px) {
  .board3 {
    display: none;
  }
}
